$sassTest: lightgrey;
$neatoColor1: whitesmoke; 
$neatoColor2: #e3f2fd;

body {
    background: url(http://riaclu.org/images/uploads/Protesters.jpg) no-repeat center center fixed;
    background-size: 100%;
    background: $neatoColor1;
}

#email-build-modal {
    z-index: 50000;
}

nav, footer {
    opacity: .96;
}

#searchArea {
    margin-top: 2%;
    background-color: $neatoColor1;
    opacity: .96;
}

#searchResults, #searchColumn {
    min-height: 400px;
}

.btn, btn-large, .btn-flat {
    margin: 5px;
    border-radius: 15px;
}

.sponsor {
    font-weight: bold;
}

.collapsible-body, .modal-content {
    background-color: $neatoColor1;
}

// div {
//     opacity: 0;
// }