<!-- THIS PAIRS WITH: AUTHCTRL.JS AUTHFACTORY.JS & APP.JS -->
<div class="container">
    <p>Login in or Register as a new user</p>
    <div>
       Email: <input type="text" autofocus="true" placeholder="email" ng-model="account.email">
    </div>
    <div>
       Password: <input type="password" placeholder="email" ng-model="account.password">
    </div>
    <div>
        <div class="btn blue lighten-1" ng-click="login()">Login</div>
        <div class="btn blue lighten-1" ng-click="register()">Register</div>
    </div>
</div>