<!-- THIS PAIRS WITH: AUTHCTRL.JS AUTHFACTORY.JS & APP.JS -->

<div class="parallax-container">
    <div class="parallax"><img src="../img/img1.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
</div>

<div class="fixed-action-btn" style="top: 20px; right: 24px;">
    <a class="btn-floating btn-large blue lighten-1" href="#login-modal" modal>
        <i class="large material-icons">vpn_key</i>
    </a>
</div>

<div ng-include="'./partials/login-modal.html'"></div>