<nav class="blue lighten-1">
	<div class="nav-wapper">
		<img src="./../img/logo.png" class="brand-logo center" id="logo" href="#/login">
	    <a id="login" ng-show="!isActive" class="btn right blue lighten-3 yellow-text" href="#login-modal" modal>Login</a>
		<a id="logout" ng-show="isActive" class="btn right blue lighten-3 yellow-text" href="#/logout">Logout</a>
	    <a id="search-btn" ng-show="isActive" class="btn right blue lighten-3 yellow-text" href="#/search">Search</a>
	    <a id="home-btn" ng-show="isActive" class="btn right blue lighten-3 yellow-text" href="#/login">Home</a>
    </div>
</nav>


	    <!-- LOGO -->
	    <!-- <a class="left" ng-href="#/login"><img class="logo" src="../img/logo.png"></a>