<nav class="blue lighten-1">
    <a ng-href="#/login"><img class="logo" src="../img/logo.png"></a>
    <a class="btn right blue lighten-3" href="#login-modal" modal>Login</a>
    <button class="btn right blue lighten-3"><a href="#/logout">Logout</a></button>
</nav>

<!-- THIS WAS A FUNCTIONING FIXED-ACTION-BTN BUT WAS UNNECESSARY -->
<!-- <div class="fixed-action-btn" style="top: 20px; right: 24px;">
    <a class="btn-floating btn-large blue lighten-1" href="#/logout">
        <i class="large material-icons">vpn_key</i>
    </a>
</div> -->