<!-- PAIRS WITH LANDSEARCHCTRL.JS -->
<div id="searchArea" class="row">

    <div id="searchColumn" class="col s12 m4 l3"> 

        <!-- SEARCH LEGISLATION SECTION -->
        <h5>Search TN Legislation</h5>
        <input id="allBillsAPICall" type="text" placeholder="Search for Keywords">
        <button class="btn right blue lighten-1" name="action" ng-click="clearButton()"><i class="material-icons">replay</i></button>
        <button class="btn right blue lighten-1" name="action" ng-click="searchCall()"><i class="material-icons">search</i></button>
        
        <!-- SAVED BILLS SECTION -->
        <h5>Saved Bills</h5>
        <div ng-include="'./partials/email-build-cards.html'" ng-repeat="bill in savedBillsArray"></div>

    </div>

    <!-- SEARCH RESULTS INCLUDE -->
    <div ng-include="'./partials/search-results-cards.html'"></div>

</div>