<div id="login-modal" class="modal">
    <div class="modal-content">
        <div class="container">
            <p>Login in or Register as a new user</p>
            <div>
               Email: <input type="email" autofocus="true" placeholder="email" ng-model="account.email">
            </div>
            <div>
               Password: <input type="password" placeholder="password" ng-model="account.password">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <button id="register" href="#!" class="modal-action modal-close btn blue lighten-1" ng-click="register()">Register</button>
            <button href="#!" class="modal-action modal-close btn blue lighten-1" ng-click="login()">Login</button> 
        </div>
    </div>
</div>