<!-- THIS PAIRS WITH: AUTHCTRL.JS AUTHFACTORY.JS & APP.JS -->

<div class="parallax-container">
<!--     <div class="parallax"><img src="../img/img1.jpg"></div>
 -->    <div id="purpose" class="section valign-wrapper">
        <div class="row container">
            <!-- <div class="center-align"> -->
            <div class="explain-cards center-align col s12 m12 l4">
                 <i class="large material-icons">search</i>
                <h4>Find proposed laws</h4>
            <div class="divider"></div>
            </div>
            <!-- </div> -->
            <!-- <div class="center-align"> -->
                <div class="explain-cards center-align col s12 m12 l4">
                     <i class="large material-icons">thumbs_up_down</i>
                    <h4>Save and edit your opinions</h4>
                <div class="divider"></div>
                </div>
            <!-- </div> -->
            <!-- <div class="center-align"> -->
            <div class="explain-cards center-align col s12 m12 l4">
                 <i class="large material-icons">email</i>
                <h4>Contact your elected officials</h4>
            <div class="divider"></div>
            </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- </div> -->
</div>

<!-- FIXED ACTION LOGIN BUTTON WENT BACK TO USING REGULAR LOGIN/LOGOUT BUTTONS -->
<!-- <div class="fixed-action-btn" style="top: 20px; right: 24px;">
    <a class="btn-floating btn-large blue lighten-1" href="#login-modal" modal>
        <i class="large material-icons">vpn_key</i>
    </a>
</div> -->

<div ng-include="'./partials/login-modal.html'"></div>