body {
  background-color: #e3f2fd; }

#searchColumn {
  padding: 2%; }

#searchResults {
  background-color: #e3f2fd;
  min-height: 400px;
  margin-top: 2%; }

.btn, btn-large, .btn-flat {
  margin: 5px;
  border-radius: 15px; }

.sponsor {
  font-weight: bold; }
