body {
  background: url(/img/background.jpg) no-repeat center center fixed;
  background-size: 100%;
  background-color: whitesmoke; }

nav {
  min-height: 110px;
  opacity: .85;
  text-align: center;
  padding: 2%; }

nav h1 {
  margin-top: 30px; }

footer {
  opacity: .85;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%; }

#title {
  display: inline;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  margin-left: 10%; }

#searchArea {
  margin-top: 3%;
  background-color: whitesmoke;
  opacity: .96; }

#login, #logout {
  margin-right: 3%;
  margin-top: 2%;
  width: 163px; }

#purpose {
  margin-top: 4%;
  background-color: whitesmoke;
  opacity: .7;
  min-height: 400px; }

#searchResults, #searchColumn {
  min-height: 400px; }

#register {
  margin-left: 10px; }

#purpose-statement {
  margin: 2%; }

#email-build-modal {
  z-index: 50000; }

.logo {
  margin-top: -2%;
  margin-left: 3%;
  max-height: 120px;
  display: inline;
  position: fixed; }

.btn {
  margin: 5px;
  border-radius: 15px; }

.sponsor {
  font-weight: bold; }

.collapsible-body, .modal-content {
  background-color: whitesmoke; }
