body {
  background: url(http://riaclu.org/images/uploads/Protesters.jpg) no-repeat center center fixed;
  background-size: 100%;
  background-color: whitesmoke; }

#email-build-modal {
  z-index: 50000; }

nav, footer {
  opacity: .85; }

#searchArea {
  margin-top: 2%;
  background-color: whitesmoke;
  opacity: .96; }

#purpose {
  margin-top: 2%;
  background-color: whitesmoke;
  opacity: .96; }

#searchResults, #searchColumn {
  min-height: 400px; }

.btn {
  margin: 5px;
  border-radius: 15px; }

.sponsor {
  font-weight: bold; }

.collapsible-body, .modal-content {
  background-color: whitesmoke; }
